.card{
    background-color: white;
    padding: 40px;
    /*width: 300px;*/
    margin: 10px;
    border-radius: 20px;
    position: relative;
}
.num-display{
    position: absolute;
    top: -5px;
    left: -5px;
    padding: 10px;
    line-height: 1;
    color: white;


    font-size: 24px;
    border-radius: 30px;

    background-color:pink;
    font-weight:bold;
    
    margin-right: 10px;
    
    
}

.text-display{
    text-align: center;
}